# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next/
out/

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel/

# Coverage
coverage/

# OS
.DS_Store
Thumbs.db

# TypeScript build info
*.tsbuildinfo

